.gamebutton {
    display: block;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.margin-top{
    margin-top: 10px;
    text-align: center;
}

#body{
    background-color: #b3b3b3;
}